

<div style="text-align:center">
  <h1>
Welcome to {{ title }}!
</h1>
</div>
<h2>Member Profile </h2>
<table>
  <tr>
      <td>
Friend Name
</td>
      <td>
          <input id="txtFriendName" name="FriendName" placeholder="Enter Your Fullname"/>
      </td>
  </tr>
  <tr>
      <td>
Phone Number
</td>
      <td>
          <input id="txtPhoneNumber" name="PhoneNumber" placeholder="Enter Your Landline/Mobile Number"/>
      </td>
  </tr>
  <tr>
      <td>
Email ID
</td>
      <td>
          <input id="txtEmailID" name="EmailID" placeholder="Enter Your Email ID"/>
      </td>
  </tr>
  <tr>
      <td>
Country
</td>
      <td>
          <input id="txtCountry" name="Country" placeholder="Enter Your Country"/>
      </td>
  </tr>
  <tr>
      <td>
Date of Birth
</td>
      <td>
          <input id="txtDOB" name="DOB" class="form-control"
placeholder="Enter Your Date of Birth" type="text"/>
      </td>
  </tr>
  <tr>
      <td>
Marital Satus
</td>
      <td>
Yes
          <input id="rbYes" type="radio" name="IsMarried" value="1" checked/>
No
          <input id="rbNo" type="radio" name="IsMarried" value="0"/>
      </td>
  </tr>
  <tr>
      <td>
Yearly Salary (Per Annum)
</td>
      <td>
          <input id="txtSalaryPerAnnum" name="SalaryPerAnnum" placeholder="Enter Your Date of Birth"/>
      </td>
  </tr>
  <tr>
      <!-- <td colspan="2">
          <button (click)="clickMethod()" >Submit</button>
      </td> -->
  </tr>
</table>
